footer {

    position: relative;
    background: black;
    color: white;
    .footerContainer {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: flex-end;
    }
    .email {
        width: 33%;
    }
    a {
        color: white !important;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: white !important;
        }
    }
    .copyright {
        width: 100%;
        text-align: center;
        margin-top: -26px;
    }
    .footerlogo {
        max-width: 200px;
        margin-bottom: 20px;
        width: 33%;
        padding: 20px;
    }
    #menu-footer-menu {
        list-style: none;
        width: 33%;
        padding: 0;
        columns: 2;
        column-gap: 30px;
        @extend h3;
        text-transform: uppercase;
        li {
            padding-top: 10px;
            text-align: right;
        }

    }
}
.conebackground {
    background: url('images/cone.png');
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    top: -110px;
    height: 148px;
}
.footermap {
    width: 33%;
}
.locationaddress {
    width: 33%;
}
.footerMenu_map {
    align-self: center;
    #menu-footer-menu {
        columns: 1;
    }
}
.logoCopy {
    .footerlogo {
        width: 100%;
    }
}
@media(max-width: 1000px){
    .logoCopy {
        margin: 0 auto;
    }
}
@media(max-width: 850px){
    footer {
        .footerContainer{
            text-align: center;
            .email{
                width: 100%;
                order: 2;
            }
            .footerlogo {
                width: 100%;
                order: 1;
                margin: 0 auto;
            }
            #menu-footer-menu {
                width: 100%;
                order: 3;
                li {
                    text-align: left;

                }
                li:nth-last-child(-n + 2){
                    text-align: right;
                }
            }
            .copyright {
                order: 4;
                margin-top: 0;
            }
        }
    }
    .footermap {
        width: 46%;
        order: 3;
    }
    .locationaddress {
        width: 46%;
        order: 2;
    }
    .footerMenu_map {
        width: 100%;
        order: 1;
        margin-top: 20px;
        #menu-footer-menu {
            display: flex;
            justify-content: space-between;
        }
    }
    .logoCopy {
        order: 4;
        margin: 0 auto;
    }
}
@media(max-width: 600px){
.footermap , .locationaddress {
    width: 100%;
}
}