
footer {

    position: relative;
    background: black;
    color: white;
    .footerContainer {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: flex-end;
    }
    .email {
        width: 33%;
    }
    a {
        color: white !important;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: white !important;
        }
    }
    .copyright {
        width: 100%;
        text-align: center;
        margin-top: -26px;
    }
    .footerlogo {
        max-width: 200px;
        margin-bottom: 20px;
        width: 33%;
        padding: 20px;
    }
    #menu-footer-menu {
        list-style: none;
        width: 33%;
        padding: 0;
        columns: 2;
        column-gap: 30px;
        @extend h3;
        text-transform: uppercase;
        li {
            padding-top: 10px;
            text-align: right;
        }

    }
}
.conebackground {
    background: url('images/cone.png');
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    top: -110px;
    height: 148px;
}
.footermap {
    width: 33%;
}
.locationaddress {
    width: 33%;
}
.footerMenu_map {
    align-self: center;
    #menu-footer-menu {
        columns: 1;
    }
}
.logoCopy {
    .footerlogo {
        width: 100%;
    }
}
.mailingList {
    margin-left: 10px;
    position: relative;
    .condered {
        background-repeat: repeat-x;
        background-image: url('images/conered.png');
        width: 100%;
        position: absolute;
        height: 160px;
        top: -110px;
    }
    background-color: #EE130C;

    width: calc(100% - 10px);
    max-width: 475px;
    height: 30px;
    @extend .flex;
    
    .mailingListLabel {
        font-family: 'shlopregular', serif;
        color: white;
        @include fontSize(20);
        width: 164px;
        position: relative;
        .mailing {
            transform: rotate(-53deg);
            display: flex;
            position: absolute;
            top: -40px;
        }
        .list {
            display: flex;
            transform: rotate(53deg);
            position: absolute;
            left: 102px;
            top: -29px;
        }
    }
    #mailpoet_form_1 {
        width: calc(100% - 165px);
        position: relative;
         top: -10px;
        
        form {
            display: flex;
            padding: 0 !important;
            overflow: hidden;
            ::placeholder {
                color: white;
                opacity: 1; /* Firefox */
              }
            .mailpoet_text {
                background: transparent;
                border: none;
                border-bottom: 1px solid white;
                color: white;
                min-width: 114px;
                max-width: 159px;
                outline: none;
            }
            .mailpoet_submit {
                background: transparent;
                color: white;
                font-family: 'shlopregular', serif;
                @include fontSize(20);
                transform: rotate(-53deg);
                margin-top: -12px !important;
                @media (max-width: 499px) {
                    @include fontSize(20);
                    font-size: 2rem !important;
                    line-height: initial !important;
                    transform: rotate(0deg);
                }

            }
        }
    }

      

}
#mailpoet_form_1 .mailpoet_validate_success {
    background: white;
    padding: 10px;
}
.parsley-required, .parsley-custom-error-message,.parsley-errors-list {
    background: white;
    padding: 10px;
}
@media(max-width: 1000px){
    .logoCopy {
        margin: 0 auto;
    }
}
@media(max-width: 850px){
    .mailingList {
        height: 60px;
        #mailpoet_form_1 {
            width: 100%;
            top: 22px;
            .mailpoet_paragraph  {
               
                input.mailpoet_text {
                    max-width: 100%;
                    min-width: 241px;
                    margin-left: 10px !important;
                }
            }
            .form.mailpoet_form {
                margin-left: 10px;
            }
        }
    }
    footer {
        .footerContainer{
            text-align: center;
            .email{
                width: 100%;
                order: 2;
            }
            .footerlogo {
                width: 100%;
                order: 1;
                margin: 0 auto;
            }
            #menu-footer-menu {
                width: 100%;
                order: 3;
                li {
                    text-align: left;

                }
                li:nth-last-child(-n + 2){
                    text-align: right;
                }
            }
            .copyright {
                order: 4;
                margin-top: 0;
            }
        }
    }
    .footermap {
        width: 46%;
        order: 3;
    }
    .locationaddress {
        width: 46%;
        order: 2;
    }
    .footerMenu_map {
        width: 100%;
        order: 1;
        margin-top: 20px;
        #menu-footer-menu {
            display: flex;
            justify-content: space-between;
        }
    }
    .logoCopy {
        order: 4;
        margin: 0 auto;
    }
}
@media(max-width: 600px){
.footermap , .locationaddress {
    width: 100%;
}
}