footer {
    display: flex;
    flex-flow: wrap;
    background: black;
    color: white;
    .copyright {
        width: 100%;
    }
}
.conebackground {
    background: url('images/cone.png');
    width: 100%;
    background-repeat: repeat-x;
    position: relative;
    top: -110px;
    height: 148px;
}