@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'shlopregular';
    src: url('images/shlop_rg-webfont.woff2') format('woff2'),
         url('images/shlop_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue / 10) * 1rem;
}
